<form class="form" [formGroup]="loansForm" (ngSubmit)="onSubmit()">
  <label for="mainPerson">Select a person</label>
  <select formControlName="mainPerson" id="mainPerson">
    <option *ngFor="let person of people" [ngValue]="person">
      {{ person.name }}
    </option>
  </select>
  <button
    [disabled]="!loansForm.valid"
    class="button"
    (click)="findPerson()"
    type="button"
  >
    Find
  </button>
  <div *ngIf="isChosen" class="dati">
    <div>
      <div>
        You have selected <span>{{ person.name }}</span>
      </div>
      <div>
        This person owes ДОЛЖЕН
        <span>{{ person.owes.totalAmount }}</span>
        <div *ngFor="let amountToPerson of person.owes.amountToOnePerson">
          <span>{{ amountToPerson.amount }}</span> to
          <span>{{ amountToPerson.name }}</span>
        </div>
      </div>
      <div>
        This person lent ОДОЛЖИЛ
        <span>{{ person.lent.totalAmount }}</span>
        <div *ngFor="let amountToPerson of person.lent.amountToOnePerson">
          <span>{{ amountToPerson.amount }}</span> to
          <span>{{ amountToPerson?.name }}</span>
        </div>
      </div>
    </div>
    <div>
      <div>This person wants to</div>
      <div class="input__container">
        <label class="label" for="borrowFrom">Take money from </label>
        <select formControlName="borrowFrom" id="borrowFrom">
          <option *ngFor="let person of peopleToBorrowMoneyFrom" [ngValue]="person">
            {{ person.name }}
          </option>
        </select>
      </div>
      <div class="input__container">
        <label class="label" for="borrowFromAmount">How much? </label>
        <input formControlName="borrowFromAmount" type="number" />
      </div>
      <button type="button" (click)="borrowFromPerson()">YES</button>
    </div>
    <div>
      <div>This person wants to</div>
      <div class="input__container">
        <label class="label" for="lentTo">Give money to </label>
        <select formControlName="lentTo" id="lentTo">
          <option *ngFor="let person of peopleToLentMoneyTo" [ngValue]="person">
            {{ person.name }}
          </option>
        </select>
      </div>
      <div class="input__container">
        <label class="label" for="lentToAmount">How much? </label>
        <input formControlName="lentToAmount" type="number" />
      </div>
      <button type="button" (click)="lentMoneyTo()">YES</button>
    </div>
    <div *ngIf="personHasDept">
      <div>This person wants to</div>
      <div class="input__container">
        <label class="label" for="returnMoneyTo">Return money to </label>
        <select formControlName="returnMoneyTo" id="returnMoneyTo">
          <option
            *ngFor="let person of peopleToReturnMoneyTo"
            [ngValue]="person"
          >
            {{ person.name }}
          </option>
        </select>
      </div>
      <div class="input__container">
        <label class="label" for="returnMoneyToAmount">How much? </label>
        <input formControlName="returnMoneyToAmount" type="number" />
      </div>
      <button type="button" (click)="payBackTheDeptToPerson()">YES</button>
    </div>



    <div>
      <div>This person wants to</div>
      <div class="input__container">
        <label class="label" for="receiveMoneyBack">Receive money from </label>
        <select formControlName="receiveMoneyBack" id="receiveMoneyBack">
          <option
            *ngFor="let person of peopleToReceiveMoneyFrom"
            [ngValue]="person"
          >
            {{ person.name }}
          </option>
        </select>
      </div>
      <div class="input__container">
        <label class="label" for="receiveMoneyBackAmount">How much? </label>
        <input formControlName="receiveMoneyBackAmount" type="number" />
      </div>
      <button type="button" (click)="payBackTheDeptToPerson()">YES</button>
    </div>
  </div>
  <button [disabled]="!loansForm.valid">that's it</button>
</form>
