<form class="form" [formGroup]="nameForm">
  <label for="mainPerson">Select a person</label>
  <select formControlName="mainPerson" id="mainPerson">
    <option *ngFor="let person of people" [ngValue]="person">
      {{ person.name }}
    </option>
  </select>
  <button
    [disabled]="!nameForm.valid"
    class="button"
    (click)="findPerson()"
    type="button"
  >
    Find
  </button>
  <div *ngIf="isChosen" class="dati">
    <div>
      <div>
        You have selected <span>{{ person.name }}</span>
      </div>
      <div>
        This person owes
        <span>{{ person.owes.totalAmount }}</span>
        <div *ngFor="let amountToPerson of person.owes.amountToOnePerson">
          <span>{{ amountToPerson.amount }}</span> to
          <span>{{ amountToPerson.name }}</span>
        </div>
      </div>
      <!-- <div>
        This person is owened
        <span>{{ person.isOwened.totalAmount }}</span>
        <div *ngFor="let amountToPerson of person.isOwened.amountToOnePerson">
          <span>{{ amountToPerson.amount }}</span> to
          <span>{{ amountToPerson.name }}</span>
        </div>
      </div> -->
      <div>
        This person lent
        <span>{{ person.lent.totalAmount }}</span>
        <div *ngFor="let amountToPerson of person.lent.amountToOnePerson">
          <span>{{ amountToPerson.amount }}</span> to
          <span>{{ amountToPerson?.name }}</span>
        </div>
      </div>
      <!-- <div>
        This person pays dept
        <span>{{ person.paysDept.totalAmount }}</span>
        <div *ngFor="let amountToPerson of person.paysDept.amountToOnePerson">
          <span>{{ amountToPerson.amount }}</span> to
          <span>{{ amountToPerson.name }}</span>
        </div>
      </div> -->
    </div>
    <div>
      <div>This person wants to</div>
      <div class="input__container">
        <label class="label" for="borrowFrom">Take money from </label>
        <select formControlName="borrowFrom" id="borrowFrom">
          <option *ngFor="let person of peopleToSelect" [ngValue]="person">
            {{ person.name }}
          </option>
        </select>
      </div>
      <div class="input__container">
        <label class="label" for="borrowFromAmount">How much? </label>
        <input formControlName="borrowFromAmount" type="text" />
      </div>
      <button (click)="borrowFromPerson()">YES</button>
    </div>
    <div *ngIf="personHasDept">
      <div>This person wants to</div>
      <div class="input__container">
        <label class="label" for="returnMoneyTo">Return money to </label>
        <select formControlName="returnMoneyTo" id="returnMoneyTo">
          <option *ngFor="let person of peopleToSelectToReturnMoney" [ngValue]="person">
            {{ person.name }}
          </option>
        </select>
      </div>
      <div class="input__container">
        <label class="label" for="returnMoneyToAmount">How much? </label>
        <input formControlName="returnMoneyToAmount" type="text" />
      </div>
      <button (click)="payBackTheDeptToPerson()">YES</button>
    </div>
  </div>
</form>
