.data {
  display: flex;
  column-gap: 150px;
}

.owes {
  background-color: antiquewhite;
}

.personHasDebt {
  background-color: rgb(206, 65, 83);
}

.lent {
  background-color: antiquewhite;
}

.personHasDebtors {
  background-color: rgb(90, 192, 77);
}