<form class="form" [formGroup]="loansForm" (ngSubmit)="onSubmit()">
  <label for="mainPerson"
    >Select a person
    <select formControlName="mainPerson" id="mainPerson">
      <option *ngFor="let person of people" [ngValue]="person">
        {{ person.name }}
      </option>
    </select>
  </label>

  <button
    [disabled]="!loansForm.valid"
    class="button"
    (click)="findPerson()"
    type="button"
  >
    Find
  </button>

  <div *ngIf="isChosen" class="data">
    <div>
      <div>
        You have selected <span>{{ person.name }}</span>
      </div>
      <div class="lent" [ngClass]="{'personHasDebt': personHasDebt === true}">
        This person owes
        <span>{{ person.owes.totalAmount }}</span>
        <div *ngFor="let amountToPerson of person.owes.amountToOnePerson">
          <span>{{ amountToPerson.amount }}</span> to
          <span>{{ amountToPerson.name }}</span>
        </div>
      </div>
      <div class="owes" [ngClass]="{'personHasDebtors': personHasDebtors === true}">
        This person lent
        <span>{{ person.lent.totalAmount }}</span>
        <div *ngFor="let amountToPerson of person.lent.amountToOnePerson">
          <span>{{ amountToPerson.amount }}</span> to
          <span>{{ amountToPerson?.name }}</span>
        </div>
      </div>
    </div>

    <div>
      <div>This person wants to</div>
      <div class="input__container">
        <label class="label" for="lendTo">Give money to </label>
        <select formControlName="lendTo" id="lendTo">
          <option *ngFor="let person of peopleToLendMoneyTo" [ngValue]="person">
            {{ person.name }}
          </option>
        </select>
      </div>
      <div class="input__container">
        <label class="label" for="lendToAmount">How much? </label>
        <input formControlName="lendToAmount" type="number" />
      </div>
      <button type="button" (click)="lentMoneyTo()">YES</button>
    </div>

    <div>
      <div>This person wants to</div>
      <div class="input__container">
        <label class="label" for="receiveMoneyBack">Receive money from </label>
        <select formControlName="receiveMoneyBack" id="receiveMoneyBack">
          <option
            *ngFor="let person of peopleToReceiveMoneyFrom"
            [ngValue]="person"
          >
            {{ person.name }}
          </option>
        </select>
      </div>
      <div class="input__container">
        <label class="label" for="receiveMoneyBackAmount">How much? </label>
        <input formControlName="receiveMoneyBackAmount" type="number" />
      </div>
      <button type="button" (click)="receiveDeptFromPerson()">YES</button>
    </div>

    <div>
      <div>This person wants to</div>
      <div class="input__container">
        <label class="label" for="returnMoneyTo">Return money to </label>
        <select formControlName="returnMoneyTo" id="returnMoneyTo">
          <option
            *ngFor="let person of peopleToReturnMoneyTo"
            [ngValue]="person"
          >
            {{ person.name }}
          </option>
        </select>
      </div>
      <div class="input__container">
        <label class="label" for="returnMoneyToAmount">How much? </label>
        <input formControlName="returnMoneyToAmount" type="number" />
      </div>
      <button type="button" (click)="payBackTheDeptToPerson()">YES</button>
    </div>

    <div>
      <div>This person wants to</div>
      <div class="input__container">
        <label class="label" for="borrowFrom">Take money from </label>
        <select formControlName="borrowFrom" id="borrowFrom">
          <option
            *ngFor="let person of peopleToBorrowMoneyFrom"
            [ngValue]="person"
          >
            {{ person.name }}
          </option>
        </select>
      </div>
      <div class="input__container">
        <label class="label" for="borrowFromAmount">How much? </label>
        <input formControlName="borrowFromAmount" type="number" />
      </div>
      <button type="button" (click)="borrowFromPerson()">YES</button>
    </div>
  </div>
</form>
