.container {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}
.spot {
  position: absolute;
  z-index: -1;
}

.light__spot {
  top: 0%;
}

.light__spot--brown {
  top: 0%;
  right: 0%;
}
