/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "../src/assets/reset.scss";
body {
  background-color: #19191b;
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, 0.7);
}