<form class="form" [formGroup]="loansForm">
  <div *ngIf="!isChosen" class="carousel__wrapper">
    <app-button
      (click)="onCarouselDirectionChange('left')"
      [disabled]="leftButtonDisabled"
      [backgroundColor]="'inherit'"
      [round]="true"
      [size]="'extra-small'"
      ><img
        class="arrow"
        src="../../../assets/images/arrow-left.png"
        alt="left"
    /></app-button>
    <div class="carousel">
      <app-person-card
        (click)="findPerson(person)"
        *ngFor="let person of peopleForCarousel"
        [person]="person"
      ></app-person-card>
    </div>
    <app-button
      (click)="onCarouselDirectionChange('right')"
      [disabled]="rightButtonDisabled"
      [backgroundColor]="'inherit'"
      [round]="true"
      [size]="'extra-small'"
      ><img
        class="arrow"
        src="../../../assets/images/arrow-right.png"
        alt="right"
    /></app-button>
  </div>

  <div *ngIf="isChosen" class="main__person">
    <div class="main__person-deals--info">
      <div class="main__person-button--deals">
        <app-button
          (click)="onToggleDealHistory()"
          [disabled]="!person.deals.length"
          [buttonLabel]="dealHistoryButton"
          [backgroundColor]="'inherit'"
        >
        </app-button>
      </div>
      <div *ngIf="showDealHistory">
        <app-history-of-deals
          formGroupName="dealsInfo"
          [person]="person"
          [deals]="dealsfromStorage"
          [filteredDeals]="filteredDeals"
        ></app-history-of-deals>
      </div>
    </div>

    <div class="main__person-deal">
      <div>
        <app-person-detailed-card [person]="person"></app-person-detailed-card>
      </div>

      <div class="deal__from-part">
        <app-label [for]="'deal'" [labelText]="'Select a deal'"></app-label>
        <app-deal-select
          [deals]="deals"
          formControlName="deal"
          [id]="'deal'"
          [parentForm]="loansForm"
        ></app-deal-select>

        <app-button
          (click)="selectDeal()"
          [buttonLabel]="'Ok'"
          [backgroundColor]="'inherit'"
          [disabled]="!loansForm.value.deal"
        >
        </app-button>
      </div>

      <div class="action__form" *ngIf="activePeopleBoolean === true">
        <div>This person wants to</div>
        <div class="select__container">
          <app-label
            [for]="'lendTo'"
            [spanText]="activeDeal"
            [labelText]="'money' + ' ' + preposition"
          ></app-label>
          <app-person-select
            [people]="activePeople"
            formControlName="formPerson"
            [id]="'formPerson'"
            [parentForm]="loansForm"
          ></app-person-select>
        </div>
        <div class="input__container">
          <app-label [for]="'amount'" [labelText]="'How much?'"></app-label>
          <app-amount-input
            [parentForm]="loansForm"
            formControlName="amount"
          ></app-amount-input>
        </div>
        <app-button
          [backgroundColor]="'inherit'"
          (click)="activeFunction(); activePeopleBoolean = false"
          [buttonLabel]="'Accept deal'"
          [disabled]="!loansForm.value.formPerson"
        >
        </app-button>
      </div>
    </div>

    <div *ngIf="screen !== 'smallScreen'" class="main__person-button--return">
      <app-button
        (click)="onReturnToCarousel()"
        [buttonLabel]="'See all people'"
        [backgroundColor]="'inherit'"
      >
      </app-button>
    </div>
    <div *ngIf="screen === 'smallScreen'" class="main__person-button--return">
      <app-button
        (click)="onReturnToCarousel()"
        [buttonLabel]="'all'"
        [backgroundColor]="'inherit'"
        [round]="true"
        [size]="'small'"
      >
      </app-button>
    </div>
  </div>
</form>
