.main__person--wrapper {
  max-width: fit-content;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.main__person--select-wrapper {
  align-self: center;
  margin-bottom: 40px;
}

.data {
  margin: 0 auto;
  max-width: fit-content;
  display: flex;
  justify-content: center;
}

.name {
  font-size: 32px;
}

.lent,
.owes {
  border: 2px solid rgb(114, 91, 91);
  background-color: rgb(213, 238, 243);
  border-radius: 6px;
  margin: 20px 0px;
  padding: 10px;
  min-width: 200px;
}

.details__lent, .details__owes {
  font-size: 20px;
}

.details__lent {
  color: green;
}

.details__owes {
  color: red;
}

.action__item button {
  margin-left: 0;
}

.actions {
  display: flex;
  column-gap: 150px;
  row-gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.action__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.select__container, .input__container {
  display: flex;
  margin: 10px 0;
}
