<form class="form" [formGroup]="loansForm">
  <div class="main__person--wrapper">
    <app-label
      class="main__person--label"
      [for]="'mainPerson'"
      [labelText]="'Select a person'"
    ></app-label>
    <div class="main__person--select-wrapper">
      <app-person-select
        [people]="people"
        formControlName="mainPerson"
        [id]="'mainPerson'"
        [parentForm]="loansForm"
      ></app-person-select>
      <app-button
        class="main__person--button"
        (click)="findPerson()"
        [disabled]="!loansForm.valid"
        [buttonLabel]="'Find'"
      >
      </app-button>
    </div>

    <div *ngIf="isChosen" class="data">
      <div>
        <div>
          You have selected <span class="name">{{ person.name }}</span>
        </div>
        <div><span>Balance: </span>{{ person.balance }}</div>
        <div class="owes">
          This person
          <span class="emphasized__text"
            >owes {{ person.owes.totalAmount }}</span
          >
          <div>details:</div>
          <div
            class="details__owes"
            *ngFor="let amountToPerson of person.owes.amountToOnePerson"
          >
            <span>{{ amountToPerson.amount }}</span> to
            <span>{{ amountToPerson.name }}</span>
          </div>
        </div>
        <div class="lent">
          This person
          <span class="emphasized__text"
            >lent {{ person.lent.totalAmount }}</span
          >
          <div>details:</div>
          <div
            class="details__lent"
            *ngFor="let amountToPerson of person.lent.amountToOnePerson"
          >
            <span>{{ amountToPerson.amount }}</span> to
            <span>{{ amountToPerson?.name }}</span>
          </div>
        </div>
        <app-button
          (click)="onToggleDealHistory()"
          [disabled]="!person.deals.length"
          [buttonLabel]="dealHistoryButton"
        >
        </app-button>

        <div *ngIf="showDealHistory">
          <div *ngFor="let deal of person.deals">
            <div>date: {{ deal.date }}</div>
            <div>time: {{ deal.time }}</div>
            <span>{{ deal.mainPerson }} </span>
            <span>{{ deal.type }} </span>
            <span>{{ deal.formPerson }}</span>
            <div>amount: {{ deal.amount }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isChosen" class="actions">
    <div class="action__item">
      <div>This person wants to</div>
      <div class="select__container">
        <app-label
          [for]="'lendTo'"
          [spanText]="'Give '"
          [labelText]="'money to'"
        ></app-label>
        <app-person-select
          [people]="peopleToLendMoneyTo"
          formControlName="lendTo"
          [id]="'lendTo'"
          [parentForm]="loansForm"
        ></app-person-select>
      </div>
      <div class="input__container">
        <app-label [for]="'lendToAmount'" [labelText]="'How much?'"></app-label>
        <app-amount-input
          [parentForm]="loansForm"
          formControlName="lendToAmount"
        ></app-amount-input>
      </div>
      <app-button (click)="lentMoneyTo()" [buttonLabel]="'Accept deal'">
      </app-button>
    </div>

    <div class="action__item">
      <div>This person wants to</div>
      <div class="select__container">
        <app-label
          [for]="'receiveMoneyBack'"
          [spanText]="'Receive '"
          [labelText]="'money from'"
        ></app-label>

        <app-person-select
          [people]="peopleToReceiveMoneyFrom"
          formControlName="receiveMoneyBack"
          [id]="'receiveMoneyBack'"
          [parentForm]="loansForm"
        ></app-person-select>
      </div>
      <div class="input__container">
        <app-label
          [for]="'receiveMoneyBackAmount'"
          [labelText]="'How much?'"
        ></app-label>
        <app-amount-input
          [parentForm]="loansForm"
          formControlName="receiveMoneyBackAmount"
        ></app-amount-input>
      </div>
      <app-button
        (click)="receiveDeptFromPerson()"
        [buttonLabel]="'Accept deal'"
      >
      </app-button>
    </div>

    <div class="action__item">
      <div>This person wants to</div>
      <div class="select__container">
        <app-label
          [for]="'returnMoneyTo'"
          [spanText]="'Return '"
          [labelText]="'money to'"
        ></app-label>

        <app-person-select
          [people]="peopleToReturnMoneyTo"
          formControlName="returnMoneyTo"
          [id]="'returnMoneyTo'"
          [parentForm]="loansForm"
        ></app-person-select>
      </div>
      <div class="input__container">
        <app-label
          [for]="'returnMoneyToAmount'"
          [labelText]="'How much?'"
        ></app-label>
        <app-amount-input
          [parentForm]="loansForm"
          formControlName="returnMoneyToAmount"
        ></app-amount-input>
      </div>
      <app-button
        (click)="payBackTheDeptToPerson()"
        [buttonLabel]="'Accept deal'"
      >
      </app-button>
    </div>

    <div class="action__item">
      <div>This person wants to</div>
      <div class="select__container">
        <app-label
          [for]="'borrowFrom'"
          [spanText]="'Take '"
          [labelText]="'money from'"
        ></app-label>

        <app-person-select
          [people]="peopleToBorrowMoneyFrom"
          formControlName="borrowFrom"
          [id]="'borrowFrom'"
          [parentForm]="loansForm"
        ></app-person-select>
      </div>
      <div class="input__container">
        <app-label
          [for]="'borrowFromAmount'"
          [labelText]="'How much?'"
        ></app-label>
        <app-amount-input
          [parentForm]="loansForm"
          formControlName="borrowFromAmount"
        ></app-amount-input>
      </div>
      <app-button (click)="borrowFromPerson()" [buttonLabel]="'Accept deal'">
      </app-button>
    </div>
  </div>
</form>
