<form class="form" [formGroup]="loansForm">
  <div class="main__person--wrapper">
    <label class="main__person--label" for="mainPerson">Select a person </label>
    <div class="main__person--select-wrapper">
      <app-person-select
        [people]="people"
        formControlName="mainPerson"
        [id]="'mainPerson'"
        [parentForm]="loansForm"
      ></app-person-select>

      <button
        [disabled]="!loansForm.valid"
        class="button"
        (click)="findPerson()"
        type="button"
      >
        Find
      </button>
    </div>

    <div *ngIf="isChosen" class="data">
      <div>
        <div>
          You have selected <span class="name">{{ person.name }}</span>
        </div>
        <div><span>Balance: </span>{{ person.balance }}</div>
        <div class="owes">
          This person
          <span class="emphasized__text"
            >owes {{ person.owes.totalAmount }}</span
          >
          <div>details:</div>
          <div
            class="details__owes"
            *ngFor="let amountToPerson of person.owes.amountToOnePerson"
          >
            <span>{{ amountToPerson.amount }}</span> to
            <span>{{ amountToPerson.name }}</span>
          </div>
        </div>
        <div class="lent">
          This person
          <span class="emphasized__text"
            >lent {{ person.lent.totalAmount }}</span
          >
          <div>details:</div>
          <div
            class="details__lent"
            *ngFor="let amountToPerson of person.lent.amountToOnePerson"
          >
            <span>{{ amountToPerson.amount }}</span> to
            <span>{{ amountToPerson?.name }}</span>
          </div>
        </div>
        <button
          class="button"
          [disabled]="!person.deals.length"
          (click)="onToggleDealHistory()"
        >
          {{ dealHistoryButton }}
        </button>
        <div *ngIf="showDealHistory">
          <div *ngFor="let deal of person.deals">
            <div>date: {{ deal.date }}</div>
            <div>time: {{ deal.time }}</div>
            <span>{{ deal.mainPerson }} </span>
            <span>{{ deal.type }} </span>
            <span>{{ deal.formPerson }}</span>
            <div>amount: {{ deal.amount }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isChosen" class="actions">
    <div class="action__item">
      <div>This person wants to</div>
      <div class="select__container">
        <label class="label" for="lendTo"
          ><span class="emphasized__text">Give </span> money to
        </label>
        <app-person-select
          [people]="peopleToLendMoneyTo"
          formControlName="lendTo"
          [id]="'lendTo'"
          [parentForm]="loansForm"
        ></app-person-select>
      </div>
      <div class="input__container">
        <label class="label" for="lendToAmount">How much? </label>
        <input formControlName="lendToAmount" type="number" />
      </div>
      <button class="button" type="button" (click)="lentMoneyTo()">YES</button>
    </div>

    <div class="action__item">
      <div>This person wants to</div>
      <div class="select__container">
        <label class="label" for="receiveMoneyBack"
          ><span class="emphasized__text">Receive </span> money from
        </label>

        <app-person-select
          [people]="peopleToReceiveMoneyFrom"
          formControlName="receiveMoneyBack"
          [id]="'receiveMoneyBack'"
          [parentForm]="loansForm"
        ></app-person-select>
      </div>
      <div class="input__container">
        <label class="label" for="receiveMoneyBackAmount">How much? </label>
        <input formControlName="receiveMoneyBackAmount" type="number" />
      </div>
      <button class="button" type="button" (click)="receiveDeptFromPerson()">
        YES
      </button>
    </div>

    <div class="action__item">
      <div>This person wants to</div>
      <div class="select__container">
        <label class="label" for="returnMoneyTo"
          ><span class="emphasized__text">Return </span> money to
        </label>

        <app-person-select
          [people]="peopleToReturnMoneyTo"
          formControlName="returnMoneyTo"
          [id]="'returnMoneyTo'"
          [parentForm]="loansForm"
        ></app-person-select>
      </div>
      <div class="input__container">
        <label class="label" for="returnMoneyToAmount">How much? </label>
        <input formControlName="returnMoneyToAmount" type="number" />
      </div>
      <button class="button" type="button" (click)="payBackTheDeptToPerson()">
        YES
      </button>
    </div>

    <div class="action__item">
      <div>This person wants to</div>
      <div class="select__container">
        <label class="label" for="borrowFrom"
          ><span class="emphasized__text">Take </span> money from
        </label>

        <app-person-select
          [people]="peopleToBorrowMoneyFrom"
          formControlName="borrowFrom"
          [id]="'borrowFrom'"
          [parentForm]="loansForm"
        ></app-person-select>
      </div>
      <div class="input__container">
        <label class="label" for="borrowFromAmount">How much? </label>
        <input formControlName="borrowFromAmount" type="number" />
      </div>
      <button class="button" type="button" (click)="borrowFromPerson()">
        YES
      </button>
    </div>
  </div>
</form>
