.carousel__wrapper {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
}

.carousel {
display: flex;
column-gap: 20px;
margin: 20px;
}

.main__person {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.main__person-deals--info, .action__wrapper {
  min-width: 320px;
}

.action__wrapper {
  display: flex;
  justify-content: flex-end;
}

.action__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__person-deal {
  display: flex;
  text-align: center;
  margin-top: 50px;
  column-gap: 30px;
  align-items: center;
  min-width: 730px;
}
